docs/content/libraries/python.mdx @shivaco
docs/content/libraries/javascript.mdx @jpbberry @xetera
docs/content/libraries/dotnet.mdx @velddev
docs/content/libraries/go.mdx @rumblefrog
docs/content/libraries/php.mdx @goverfl0w
